.container {
    max-width: 900px;
    margin: 0 auto;
}

.create-post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Modify this class to set width and margin for blog post images */

.img-fluid {
    max-width: 100%;
    /* Keep it responsive */
    height: auto;
}

.post-image {
    width: 80%;
    /* Set the width to 80% of the parent container */
    margin: 0 auto;
    /* Center the image horizontally */
    display: block;
    /* Ensure the image is displayed as a block element */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-outline-secondary {
    border-color: #6c757d;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    background-color: #e2e6ea;
}

.comments {
    margin-top: 10px;
}

ul.list-unstyled {
    padding-left: 0;
}

ul.list-unstyled li {
    margin-bottom: 10px;
}

.reactions {
    display: flex;
    flex-wrap: wrap;
}

.reactions button {
    margin-right: 5px;
}

.author-photo,
.comment-photo {
    width: 100px;
    /* Size of the photo */
    height: 50px;
    border-radius: 50%;
    /* Circular images */
}