.logo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
