@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #2f2e41;
  --light: #eeeeee;
  --primary: #433de4;
  --gy: #f2f2f2;
}

body {
  background-color: #ffffff;
}

.button2,
.button1 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.7em 1.7em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 1px solid var(--primary);
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.button2 {
  border: none;
  background-color: var(--primary);
}

.button2:active,
.button1:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before,
.button1:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after,
.button1:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--dark);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover,
.button1:hover {
  color: #ffffff;
  border: 1px solid var(--dark);
}

.button2:hover:before,
.button1:hover:before {
  top: -35%;
  background-color: var(--dark);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after,
.button1:hover:after {
  top: -45%;
  background-color: var(--dark);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.italicfont{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}