@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #000000;
  --light: #eeeeee;
  --primary: #2c74b3;
  --c1: #205295;
  --c2: #144272;
  --c3: #0a2647;
}

body {
  background-color: var(--light);
}
