@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #000000;
  --light: #eeeeee;
  --primary: #050C9C;
  --c1: #A7E6FF;
  --c2: #3ABEF9;
  --c3: #3572EF;
}

body {
  background-color: var(--light);
}
