
.featuers > div > div {
  /* border: 1px solid var(--primary); */
  box-shadow: rgba(0, 0, 0, 0.308) 0px 4px 6px;
}

main {
  background-image: url(../../assets/circlescatterhaikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
